:root {
  --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-monospace: "Source Code Pro", monospace;

  --font-size: 1.5rem;
  --font-weight: 700;
  --color-bg: #000;
  /* --color-bg-1: hsl(209, 36%, 86%);
  --color-bg-2: hsl(224, 44%, 95%); */
  /* --color-theme-1: #ff3e00;
  --color-theme-2: #4075a6; */
  --color-text: rgba(255, 255, 255, 0.9);
  /* --column-width: 42rem;
  --column-margin-top: 4rem; */
  --space: 0.5rem;
  font-family: var(--font-body);
  color: var(--color-text);
}
html {
  background: #000;
}
body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: var(--color-bg);
  color: var(--color-text);
  background-size: 100vw 100vh;
  background: linear-gradient(
    132deg,
    rgb(0, 0, 0) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(36, 45, 57) 98.6%
  );
  background-size: 2000% 100%;
  animation: backgoundGradien 60s ease infinite;
}
@keyframes backgoundGradien {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}
