:root {
  --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-monospace: "Source Code Pro", monospace;

  --font-size: 1.5rem;
  --font-weight: 700;
  --color-bg: #000;
  /* --color-bg-1: hsl(209, 36%, 86%);
  --color-bg-2: hsl(224, 44%, 95%); */
  /* --color-theme-1: #ff3e00;
  --color-theme-2: #4075a6; */
  --color-text: rgba(255, 255, 255, 0.9);
  --space: 0.5rem;
  --space-sm: 0.25rem;

  font-family: var(--font-body);
  color: var(--color-text);
}
html {
  background: #000;
}
body {
  min-height: 100vh;
  margin: 0;
  background-attachment: fixed;
  background-color: var(--color-bg);
  color: var(--color-text);
}
h1 {
  font-size: 2rem;
  font-weight: 400;
}
